* {
  box-sizing: border-box;
  font-family: ui-monospace,system-ui,Helvetica,Roboto,Oxygen,Ubuntu,sans-serif;
}
body,html {
  color-scheme: dark;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
h1 {
  font-size: 18px;
  line-height: 1.1em;
  margin-block: 0;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 8px;
}
infobox {
    background-color: rgba(127, 127, 127, 0.05);
    padding: 10px;
    border: 2px solid rgba(127, 127, 127, 0.3);
    border-radius: 12px;
    margin: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
}
infobox.warning {
  background-color: rgba(234, 179, 8, .16) !important;
}
infobox svg {
  display: block;
  fill: #9269fe;
  color: #9269fe;
}
infobox.warning svg {
  fill: #da8b17 !important;
  color: #da8b17 !important;
}
main infobox {
    margin: 0px;
}
a {
  color: #9269fe;
}
a:visted {
  color: #9269fe;
}
header svg {
  font-size: 2.5rem;
  color: rgba(127, 127, 127, 0.5);
}
header #logo {
  display: block;
  height: 40px;
  width: 40px;
  color: rgba(127, 127, 127, 0.5);
  background-image: url(./icon/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .title {
  flex-grow: 1;
}
header .status {
  display: flex;
}
.tab-header {
    display: inline-flex;
    max-width: 90%;
    font-weight: 400;
    padding-inline: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    background-color: rgba(127, 127, 127, 0.3);
    margin-top: 1em;
    user-select: none;
}
.tab-container {
    border: 2px solid rgba(127, 127, 127, 0.3);
    border-radius: 0px 12px 12px;
    margin-bottom: 10px;
}
.entity-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all 0.3s ease-out 0s;
    min-height: 40px;
    position: relative;
}
.entity-row.click {
    cursor: pointer;
}
.entity-row:nth-child(2n) {
  background-color: rgba(90, 90, 90, 0.1);
}
.entity-row svg {
  vertical-align: middle;
}
.entity-row > :nth-child(1) {
  flex: 0 0 40px;
  color: #9269fe;
  line-height: 40px;
  text-align: center;
}
.entity-row > :nth-child(2) {
  flex: 1 1 40%;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 100px;
  padding: 5px 0px;
}
.entity-row > :nth-child(3) {
  flex: 1 1 50%;
  margin-right: 8px;
  margin-left: 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.entity-row > :nth-child(3) > :only-child {
  margin-left: auto;
}
#net {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
svg {
  fill: rgb(146, 105, 254);
  color: rgb(146, 105, 254);
}
h3 {
  margin-bottom: 10px;
}
h5 {
  margin-bottom: 5px;
}
main {
  text-align: left;
  display: inline-block;
  min-width: 260px;
  padding: 8px;
  padding-top: 0px;
  width: 100%;
}
.network {
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  height: 100%;
  background-color: #202127;
  transition: border-color .25s, background-color .25s;
  display: flex;
  flex-direction: row;
  padding: 15px;
  cursor: pointer;
}
.network-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
i {
  width: 24px;
  height: 24px;
}
input[type="text"], input[type="password"], input[type="number"] {
  width: 100% !important;
  height: 27px !important;
}
input[type="range"],
input[type="text"],
input[type="number"],
input[type="password"] {
  width: calc(100% - 3rem);
  height: 0.75rem;
}
input, select
{
  border-radius: 5px;
  padding: 4px;
  border: solid 1px #333333;
  background-color: transparent;
  box-sizing: border-box;
}
button, .btn {
  cursor: pointer;
  border-radius: 4px;
  color: #9269fe;
  border: none;
  background-color: unset;
  padding: 6px;
  font-weight: 500;
  font-size: 12.25px;
  letter-spacing: 1.09375px;
  text-transform: uppercase;
  margin: 6px;
  margin-right: 0px;
}
button:active, .btn:active {
  background-image: rgba(127, 127, 127, 0.2);
  transition-duration: 1s;
}
button:hover, .btn:hover {
  background-color: rgba(127, 127, 127, 0.2);
  transition-duration: 1s;
}
.abuttonIsState {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
form.ota {
  display: flex;
  justify-content: space-between;
  background-color: rgba(127, 127, 127, 0.05);
}
form.ota .btn {
  margin-right: 6px;
}
.description-row {
  background-color: rgb(146 105 254 / 20%);
  border-radius: 0px 10px 0 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s ease-out 0s;
  min-height: 40px;
  position: relative;
  box-shadow: 0px 2px 3px -2px #000000ab;
}
.description-row > :nth-child(1) {
  flex: 0 0 40px;
  color: #9269fe;
  line-height: 40px;
  text-align: center;
}
.description-row > :nth-child(2) {
  flex: 1 1 40%;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 100px;
  padding: 15px 0px;
}
.description-row svg {
  vertical-align: middle;
}